<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
<div class="login-page">
	<div class="col-sm-6 login_form">
		<div class="login-box">
			<div class="login-logo">
				<!--a ui-sref="login"><img src="img/logo.png"></a-->
				<img src="images/logo.png" alt="" />
			</div>
			<div class="login-box-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="form_text">
							<p>EverGenius&#8482; allows you to close more prospects FASTER and for more MONEY without much effort.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<login-form></login-form>
					</div>
				</div>
			</div>
		</div>
		<div class="new_account">
			<div class="col-xs-12">
				<div class="btn_sec">	<a href="#" class="forget_pass">Don't have an Account?</a>
					<a class="signin_btn" href="https://evergenius.com/">Create Account Now</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 bg-slide-section">
		<div class="slide_logo">
			<img src="images/logo_bg.png" alt="">
		</div>
		<div class="slide_content">
			<h1>Get <strong>EARLY</strong> Bird ticket access to the <strong>ULTIMATE</strong> Agency Growth Event</h1>
		</div>
		<div class="btn_sec slide_btn">
			<button class="signin_btn">Coming Soon | Stay Tuned</button>
		</div>
		<div class="client_img">
			<img src="images/client_img.png" alt="">
		</div>
	</div>
	<div class="login_footer">
		<ul>
			<li><a href="http://www.evergenius.com/evergenius-privacy-policy.html" target="_blank">Privacy Policy </a>|</li>
			<li><a href="http://www.evergenius.com/evergenius-terms-condition.html" target="_blank">Terms  </a>|</li>
			<li>Copyright 2018-EverGenius, LLC All Rights Reserved.</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>