<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="closemodal()">&times;</button>
            <h4 class="modal-title">{{modal_title}}</h4>
        </div>
        <form name="add_app_modal" ng-submit="submit_appointment()">
            <div class="modal-body social-page">
                <div class="from-group from-search">
                    <input type="textbox" class="form-control" placeholder="Search here.." ng-model="query">
                </div>
                <div class="connect-social" style="margin-top: 0px">
                    <ul>

                        <li ng-repeat="profile in profiles_data | orderBy:'user_name' | filter:{user_name:query}">
                            <span uib-tooltip="{{profile.net_type}}" tooltip-placement="bottom">
                                <img src="img/icon-facebook.png" alt="" width="36" height="36">{{profile.user_name}}
                            </span>
                            <button class="btn btn-primary" ng-click="connect_social_profile(profile)">Connect</button>
                        </li>
                    </ul>
                </div>


            </div>
            <div class="alert alert-success" ng-show="success_view">Appointment Added Successfully ...</div>
            <div class="modal-footer">
                <!-- <input type="submit" ng-disabled="!add_app_modal.$valid" class="btn btn-primary" value="Submit"> -->
                <button class="btn btn-cancel" type="button" data-dismiss="modal" ng-click="closemodal()">Cancel</button>
            </div>
        </form>
    </div>
</div>