<section class="content-header">
    <h1><span style="margin-right:6px;"><i class="fa fa-send"></i></span>Social Connect</h1>
</section>
<section class="content social-page add-posts">
    <div class="row">
        <div class="col-md-12">
             <div social-header></div>
            <div class="panel connect-social">
                <div class="posts-add">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div add-social-modal></div>
                    </div>
                </div>
            </div>
</section>
