<section class="content-header">
    <h1>
        <span style="margin-right:6px;">
            <i class="fa fa-send"></i>
        </span>Social Connect</h1>

</section>

<section class="content social-page">
    <div class="row">
        <div class="col-md-12">

            <div class="social-head">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="social-tabs">
                            <ul>
                                <li class="selected">
                                    <a ui-sref="app.socialposts">Posts</a>
                                </li>
                                <li>
                                    <a ui-sref="app.socialgeneratecontent">Generate Content</a>
                                </li>
                                <li>
                                    <a ui-sref="app.socialconnectprofiles">Settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="btn-new-post">
                            <a ui-sref="app.socialpostsadd" class="btn btn-primary">New Post</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social-radio-button">
                <ul>
                    <li class="radio">
                        <input type="radio" name="social" id="radio-1" ng-model="post_view_cat" value="schedule" ng-change="vm.post_view_cat('schedule')">
                        <label for="radio-1">Scheduled</label>
                    </li>
                    <li class="radio">
                        <input type="radio" name="social" id="radio-2" checked="checked" ng-model="post_view_cat" value="history" ng-change="vm.post_view_cat('history')">
                        <label for="radio-2">History</label>
                    </li>
                    <li class="radio">
                        <input type="radio" name="social" id="radio-3" ng-model="post_view_cat" value="draft" ng-change="vm.post_view_cat('draft')">
                        <label for="radio-3">Draft</label>
                    </li>
                    <li class="radio">
                        <input type="radio" name="social" id="radio-4" ng-model="post_view_cat" value="queued" ng-change="vm.post_view_cat('queued')">
                        <label for="radio-4">Queue</label>
                    </li>
                </ul>
            </div>
            <div class="alerts alert-success" ng-if="show_message">{{succcess_message}}</div>
            <div class="social-schedule-list">
                <table datatable="" id="{{tableId}}" width="100%" class="table table-striped table-bordered" ng-if="displayTable" dt-options="dtOptions"
                    dt-instance="vm.dtInstanceCallback" dt-columns="dtColumns"></table>
            </div>
</section>