<section class="content-header">
	<h1>
		<span style="margin-right:6px;">
			<i class="fa fa-send"></i>
		</span>Social Connect</h1>

</section>

<section class="content social-page">
	<div class="row">
		<div class="col-md-12">
			<div class="social-head">
				<div class="row">
					<div class="col-sm-8">
						<div class="social-tabs">
							<ul>
								<li class="selected">
									<a href="#">Posts</a>
								</li>
								<li>
									<a href="#">Generate Content</a>
								</li>
								<li>
									<a href="#">Settings</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="btn-new-post">
							<a href="#" class="btn btn-primary">New Post</a>
						</div>
					</div>
				</div>
			</div>

			<div class="social-radio-button">
				<ul>
					<li class="radio">
						<input type="radio" name="social" id="radio-1">
						<label for="radio-1">Scheduled</label>
					</li>
					<li class="radio">
						<input type="radio" name="social" id="radio-2" checked="checked">
						<label for="radio-2">History</label>
					</li>
					<li class="radio">
						<input type="radio" name="social" id="radio-3">
						<label for="radio-3">Draft</label>
					</li>
				</ul>
			</div>

			<div class="social-schedule-list history-tab">
				<ul>
					<li class="even">
						<div class="row">
							<div class="col-sm-2">
								<div class="social-post-image">
									<img src="img/img-social-post.png">
								</div>
							</div>
							<div class="col-sm-8">
								<div class="post-info">
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
										dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
										specimen book.</p>

									<div class="social-sharing">
										<div class="table-wrapper">
											<table class="table">
												<tr>
													<td>
														<img src="img/icon-google-plus.png" width="36" height="36"> EverGenius</td>
													<td>
														<img src="img/icon-like.png" width="36" height="36"> Like: 15</td>
													<td>
														<img src="img/icon-comments.png" width="36" height="36"> Comments: 11</td>
													<td>
														<img src="img/icon-reached.png" width="36" height="36"> Reached: 11</td>
													<td>&nbsp;</td>
												</tr>

												<tr>
													<td>
														<img src="img/icon-facebook.png" width="36" height="36"> Patient Pop</td>
													<td>
														<img src="img/icon-like.png" width="36" height="36"> Like: 15</td>
													<td>
														<img src="img/icon-comments.png" width="36" height="36"> Comments: 11</td>
													<td>
														<img src="img/icon-reached.png" width="36" height="36"> Reached: 11</td>
													<td>&nbsp;</td>
												</tr>

												<tr>
													<td>
														<img src="img/icon-twitter.png" width="36" height="36"> Complete Wellness</td>
													<td>
														<img src="img/icon-like.png" width="36" height="36"> Like: 15</td>
													<td>
														<img src="img/icon-view.png" width="36" height="36"> Views: 8</td>
													<td>
														<img src="img/icon-retweet.png" width="36" height="36"> Retweet: 6</td>
													<td class="text-right">
														<img src="img/icon-link-clicks.png" width="36" height="36"> Link clicks: 9</td>
												</tr>

											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="schedule-col">
									<h3>Published</h3>
									<small>
										March 15, 2017
										<br> 4:10 am
									</small>
									<div class="schedule-control">
										<a href="#" class="icon-edit"></a>
										<a href="#" class="icon-delete"></a>
									</div>
								</div>
							</div>
					</li>

					<li class="odd">
						<div class="row">
							<div class="col-sm-2">
								<div class="social-post-image">
									<img src="img/img-social-post.png">
								</div>
							</div>
							<div class="col-sm-8">
								<div class="post-info">
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
										dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
										specimen book.</p>

									<div class="social-sharing">
										<div class="table-wrapper">
											<table class="table">
												<tr>
													<td>
														<img src="img/icon-google-plus.png" width="36" height="36"> EverGenius</td>
													<td>
														<img src="img/icon-like.png" width="36" height="36"> Like: 15</td>
													<td>
														<img src="img/icon-comments.png" width="36" height="36"> Comments: 11</td>
													<td>
														<img src="img/icon-reached.png" width="36" height="36"> Reached: 11</td>
													<td>&nbsp;</td>
												</tr>

												<tr>
													<td>
														<img src="img/icon-facebook.png" width="36" height="36"> Patient Pop</td>
													<td>
														<img src="img/icon-like.png" width="36" height="36"> Like: 15</td>
													<td>
														<img src="img/icon-comments.png" width="36" height="36"> Comments: 11</td>
													<td>
														<img src="img/icon-reached.png" width="36" height="36"> Reached: 11</td>
													<td>&nbsp;</td>
												</tr>

												<tr>
													<td>
														<img src="img/icon-twitter.png" width="36" height="36"> Complete Wellness</td>
													<td>
														<img src="img/icon-like.png" width="36" height="36"> Like: 15</td>
													<td>
														<img src="img/icon-view.png" width="36" height="36"> Views: 8</td>
													<td>
														<img src="img/icon-retweet.png" width="36" height="36"> Retweet: 6</td>
													<td class="text-right">
														<img src="img/icon-link-clicks.png" width="36" height="36"> Link clicks: 9</td>
												</tr>

											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="schedule-col">
									<h3>Published</h3>
									<small>
										March 15, 2017
										<br> 4:10 am
									</small>
									<div class="schedule-control">
										<a href="#" class="icon-edit"></a>
										<a href="#" class="icon-delete"></a>
									</div>
								</div>
							</div>
					</li>

					<li class="even">
						<div class="row">
							<div class="col-sm-2">
								<div class="social-post-image">
									<img src="img/img-social-post.png">
								</div>
							</div>
							<div class="col-sm-8">
								<div class="post-info">
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
										dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
										specimen book.</p>

									<div class="social-sharing">
										<div class="table-wrapper">
											<table class="table">
												<tr>
													<td>
														<img src="img/icon-google-plus.png" width="36" height="36"> EverGenius</td>
													<td>
														<img src="img/icon-like.png" width="36" height="36"> Like: 15</td>
													<td>
														<img src="img/icon-comments.png" width="36" height="36"> Comments: 11</td>
													<td>
														<img src="img/icon-reached.png" width="36" height="36"> Reached: 11</td>
													<td>&nbsp;</td>
												</tr>

												<tr>
													<td>
														<img src="img/icon-facebook.png" width="36" height="36"> Patient Pop</td>
													<td>
														<img src="img/icon-like.png" width="36" height="36"> Like: 15</td>
													<td>
														<img src="img/icon-comments.png" width="36" height="36"> Comments: 11</td>
													<td>
														<img src="img/icon-reached.png" width="36" height="36"> Reached: 11</td>
													<td>&nbsp;</td>
												</tr>

												<tr>
													<td>
														<img src="img/icon-twitter.png" width="36" height="36"> Complete Wellness</td>
													<td>
														<img src="img/icon-like.png" width="36" height="36"> Like: 15</td>
													<td>
														<img src="img/icon-view.png" width="36" height="36"> Views: 8</td>
													<td>
														<img src="img/icon-retweet.png" width="36" height="36"> Retweet: 6</td>
													<td class="text-right">
														<img src="img/icon-link-clicks.png" width="36" height="36"> Link clicks: 9</td>
												</tr>

											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="schedule-col">
									<h3>Published</h3>
									<small>
										March 15, 2017
										<br> 4:10 am
									</small>
									<div class="schedule-control">
										<a href="#" class="icon-edit"></a>
										<a href="#" class="icon-delete"></a>
									</div>
								</div>
							</div>
					</li>
				</ul>
				</div>
				</div>
				</div>
</section>