<div class="social-head">
    <div class="row">
        <div class="col-sm-8">
            <div class="social-tabs">
                <ul>
                    <li class="selected">
                        <a ui-sref="app.socialposts">Posts</a>
                    </li>
                    <li>
                        <a ui-sref="app.socialgeneratecontent">Generate Content</a>
                    </li>
                    <li>
                        <a ui-sref="app.socialconnectprofiles">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="btn-new-post">
                <a ng-click="clear_page()" class="btn btn-primary">New Post</a>
            </div>
        </div>
    </div>
</div>