<section class="content-header">
  <ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Dashboard</a></li>
    <li class="active">Unauthorized Access</li>
  </ol>
  <div class="box">
  	<div class="box-header"></div>
  	<div class="box-body">
  		<div class="row unauthorized-page">
  			<div class="col-md-12 text-center">
  			<h1><i class="fa fa-plug"></i></h1>
  			<h2>Unauthorized Access</h2>
  			</div>
  		</div>
  	</div>
  </div>
</section>
