<section class="content-header">

  <h1>
    <span style="margin-right:6px;">
      <i class="fa fa-users"></i>
    </span>Providers List</h1>
  <div class="add_btn btn-right-header">
    <a ui-sref="app.docotoradd" class="btn btn-primary" ng-show="vm.can('add.provider')">
      <i class="fa fa-plus"></i> Add New</a>

  </div>
  <ol class="breadcrumb">
    <li>
      <a ui-sref="app.landing">
        <i class="fa fa-dashboard"></i> Home</a>
    </li>
    <li class="active">
      <span style="margin-right:6px;">
        <i class="fa fa-users"></i>
      </span>Providers List</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">

        <div class="box-body">
          <div class="table-wrapper">
            <table datatable="" id="userlist" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-options="vm.dtOptions"
              dt-columns="vm.dtColumns" dt-instance="vm.dtInstanceCallback"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>