<section class="content-header">
    <h1>
        <span style="margin-right:6px">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
        </span>Add New Provider</h1>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="app.landing">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li>
            <a ui-sref="app.userlist">Providers List</a>
        </li>
        <li class="active">Add New Provider</li>
    </ol>
</section>
<section class="content form-page">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box box-primary">
                <form class="form-horizontal" name="doctorAddForm" ng-submit="vm.save(doctorAddForm.$valid, doctorAddForm)" novalidate>
                    <div class="box-body">
                        <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>

                        <div class="line-info">
                            <span>Contact Information</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.name.$invalid && ( vm.formSubmitted || doctorAddForm.name.$touched) }">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Name*:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" maxlength="40" ng-model="vm.name" name="name" placeholder="Name" required tabindex="1">
                                        <p ng-show="doctorAddForm.name.$error.required && ( vm.formSubmitted || doctorAddForm.name.$touched)" ng-maxlength="20" maxlength="26"
                                            class="help-block">Name is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.job_title.$invalid && ( vm.formSubmitted || doctorAddForm.job_title.$touched) }">
                                    <label for="inputEmail3" class="col-sm-3  control-label">Job Title*:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" maxlength="26" ng-model="vm.job_title" name="job_title" placeholder="Job Title" required
                                            tabindex="2">
                                        <p ng-show="doctorAddForm.job_title.$error.required && ( vm.formSubmitted || doctorAddForm.job_title.$touched)" class="help-block">Job Title is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.job_title.$invalid && ( vm.formSubmitted || doctorAddForm.job_title.$touched) }">
                                    <label for="inputEmail3" class="col-sm-4  control-label">Gender*:</label>
                                    <div class="col-sm-8 pt7">
                                        <input type="radio" name="gender" value="male" ng-model="vm.gender" tabindex="3"> Male
                                        <input type="radio" name="gender" value="female" ng-model="vm.gender"> Female
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.email.$invalid && ( vm.formSubmitted || doctorAddForm.email.$touched) }">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Email*:</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" maxlength="50" ng-model="vm.email" name="email" placeholder="email" required tabindex="4">
                                        <p ng-show="doctorAddForm.email.$error.required && ( vm.formSubmitted || doctorAddForm.email.$touched)" class="help-block">Email is required.</p>
                                        <p ng-show="doctorAddForm.email.$error.email && ( vm.formSubmitted || doctorAddForm.email.$touched)" class="help-block">Enter Valid email .</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end -->

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.phone.$invalid && ( vm.formSubmitted || doctorAddForm.phone.$touched) }">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Phone*:</label>
                                    <div class="col-sm-8">
                                        <input type="text" phone-input ng-maxlength="16" maxlength="16" ng-minlength="10" minlength="10" class="form-control" ng-model="vm.phone"
                                            name="phone" placeholder="Phone" required tabindex="5">
                                        <p ng-show="doctorAddForm.phone.$error.required && ( vm.formSubmitted || doctorAddForm.phone.$touched)" class="help-block">Phone is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.website_url.$invalid && ( vm.formSubmitted || doctorAddForm. website_url.$touched) }">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Website URL:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" minlength="1" maxlength="50" ng-model="vm.website_url" name="website_url" placeholder="Website URL"
                                            tabindex="6">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.address.$invalid && ( vm.formSubmitted || doctorAddForm.address.$touched) }">
                                    <label for="inputPassword3" class="col-sm-2 control-label">Address:</label>
                                    <div class="col-sm-10">
                                        <textarea class="form-control" rows="3" ng-model="vm.address" maxlength="100" name="address" placeholder="Address" tabindex="7"></textarea>
                                        <p ng-show="doctorAddForm.address.$error.required && ( vm.formSubmitted || doctorAddForm.address.$touched)" class="help-block">Address is required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.city.$invalid && ( vm.formSubmitted || doctorAddForm. city.$touched) }">

                                    <label for="inputEmail3" class="col-sm-4 control-label">City*:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" minlength="1" maxlength="50" ng-model="vm.area" vs-google-autocomplete="city_input_options"
                                            vs-state="vm.state" vs-country="vm.country" vs-city="vm.city" id="city_name" ng-keydown="vm.change_city()"
                                            name="area" placeholder="City" tabindex="8">
                                        <input type="hidden" ng-model="vm.city" name="city" required="">
                                        <p ng-show="doctorAddForm.city.$error.required  && ( vm.formSubmitted || doctorAddForm.area.$touched)" class="help-block">This is Required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.state.$invalid && ( vm.formSubmitted || doctorAddForm. state.$touched) }">
                                    <label for="inputEmail3" class="col-sm-3 control-label">State*:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" minlength="1" maxlength="50" ng-model="vm.state" name="state" placeholder="State"
                                            ng-model="vm.state" tabindex="9" required="">
                                        <p ng-show="doctorAddForm.state.$error.required && ( vm.formSubmitted || doctorAddForm.state.$touched)" class="help-block">This is Required.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.country.$invalid && ( vm.formSubmitted || doctorAddForm. country.$touched) }">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Country*:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" minlength="1" maxlength="20" autocomplete="false" ng-model="vm.country" name="country"
                                            placeholder="Country" autocomplete="off" ng-model="vm.usereditdata.data.country"
                                            tabindex="10" required="">
                                        <p ng-show="doctorAddForm.country.$error.required && ( vm.formSubmitted || doctorAddForm.country.$touched)" class="help-block">This is Required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.zip.$invalid && ( vm.formSubmitted || doctorAddForm.zip.$touched) }">
                                    <label for="inputEmail3" class="col-sm-3  control-label">Zip:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" minlength="1" maxlength="8" ng-model="vm.zip" name="zip" placeholder="Zip" tabindex="11">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end -->
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.bio.$invalid && ( vm.formSubmitted || doctorAddForm.bio.$touched) }">
                                    <label for="inputEmail3" class="col-sm-2 control-label">Bio:</label>
                                    <div class="col-sm-10">

                                        <trix-editor trix-id="msfg_bio" angular-trix ng-model="vm.bio" name="message_bio" tabindex="12"></trix-editor>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end -->
                        <div class="line-info">
                            <span>Additional Information</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.languages_spoken.$invalid && ( vm.formSubmitted || doctorAddForm.languages_spoken.$touched) }">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Languages Spoken:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" minlength="1" maxlength="255" ng-model="vm.languages_spoken" name="languages_spoken"
                                            placeholder="Languages Spoken" tabindex="13">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.education.$invalid && ( vm.formSubmitted || doctorAddForm.education.$touched) }">
                                    <label for="inputEmail3" class="col-sm-3  control-label">Education:</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" ng-model="vm.education" name="education" placeholder="Education" tabindex="14">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.specialities.$invalid && ( vm.formSubmitted || doctorAddForm.specialities.$touched) }">
                                    <label for="inputEmail3" class="col-sm-4 control-label">Specialities:</label>
                                    <div class="col-sm-8">
                                        <tags-input ng-model="vm.specialities" add-on-paste="true" tabindex="15" placeholder="Select Specializations">
                                            <auto-complete source="loadTags($query)"></auto-complete>
                                        </tags-input>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error': doctorAddForm.password.$invalid && ( vm.formSubmitted || doctorAddForm.password.$touched) }">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Password*:</label>
                                    <div class="col-sm-8">
                                        <input type="password" id='pw1' ng-maxlength="12" maxlength="12" ng-minlength="6" minlength="6" class="form-control" ng-model="vm.password"
                                            name="password" placeholder="Password" required tabindex="16">
                                        <p ng-show="doctorAddForm.password.$error.required && ( vm.formSubmitted || doctorAddForm.password.$touched)" class="help-block">Password is required.</p>
                                        <p ng-show="(doctorAddForm.password.$error.maxlength || doctorAddForm.password.$error.minlength)" class="help-block">Length of password should 6 to 12 characters</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- row end -->
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label" style="white-space: normal;">Honest Doctor Publish:</label>
                                    <div class="col-sm-7 pt7">
                                        <label class="switch">
                                            <input ng-model="vm.hd_publish_status" ng-true-value="'1'" ng-false-value="0" name="x.status" value="1" type="checkbox" class="flat-red ng-pristine ng-untouched ng-valid ng-not-empty">
                                            <div class="slider round"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Profile Photo: </label>
                                    <div class="photo-container pt7">
                                        <input type="file" ngf-select="upload($files,true)" ngf-multiple="true" ng-model="imageSrc" ng-if="upload_tag == false" tabindex="17">
                                        <img ng-src="{{vm.image_path}}" style="width:100px; height:100px;object-fit: contain;" ng-if="vm.image_path.length > 0">
                                        <a href="" class="btn btn-primary" ng-click="delete_photo()" ng-if="vm.image_path.length > 0">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-12">
                            <div class="form-group" ng-class="{ 'has-error': newClinicForm.hospital_affiliations.$invalid && ( vm.formSubmitted || newClinicForm.social_links.$touched) }">
                                <label for="inputEmail3" class="col-sm-4 control-label">Hospital Affiliations:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="vm.hospital_affiliations" name="hospital_affiliations" placeholder="" tabindex="18">
                                    <p ng-show="newClinicForm.social_links.$invalid  && ( vm.formSubmitted || newClinicForm.social_links.$touched)" class="help-block">Please enter valid URL.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-12">
                            <div class="form-group" ng-class="{ 'has-error': newClinicForm.facebook_link.$invalid && ( vm.formSubmitted || newClinicForm.facebook_link.$touched) }">
                                <label for="inputEmail3" class="col-sm-4 control-label">Facebook Link:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="vm.social_profiles['facebook_link']" name="facebook_link" placeholder=" e.g. facebook.com/profile-url"
                                        tabindex="19" ng-pattern="domain_regex">
                                    <p ng-show="newClinicForm.facebook_link.$invalid  && ( vm.formSubmitted || newClinicForm.facebook_link.$touched)" class="help-block">Please enter valid URL.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-12">
                            <div class="form-group" ng-class="{ 'has-error': newClinicForm.twitter_link.$invalid && ( vm.formSubmitted || newClinicForm.twitter_link.$touched) }">
                                <label for="inputEmail3" class="col-sm-3 control-label">Twitter Link:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="vm.social_profiles['twitter_link']" name="twitter_link" placeholder=" e.g. twitter.com/profile-url"
                                        tabindex="20" ng-pattern="domain_regex">
                                    <p ng-show="newClinicForm.twitter_link.$invalid  && ( vm.formSubmitted || newClinicForm.twitter_link.$touched)" class="help-block">Please enter valid URL.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-12">
                            <div class="form-group" ng-class="{ 'has-error': newClinicForm.google_link.$invalid && ( vm.formSubmitted || newClinicForm.google_link.$touched) }">
                                <label for="inputEmail3" class="col-sm-4 control-label">Google URL:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="vm.social_profiles['google_link']" name="google_link" placeholder=" e.g. plus.google.com/profile-url"
                                        tabindex="21" ng-pattern="domain_regex">
                                    <p ng-show="newClinicForm.google_link.$invalid  && ( vm.formSubmitted || newClinicForm.google_link.$touched)" class="help-block">Please enter valid URL.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-sm-12">
                            <div class="form-group" ng-class="{ 'has-error': newClinicForm.youtube_link.$invalid && ( vm.formSubmitted || newClinicForm.youtube_link.$touched) }">
                                <label for="inputEmail3" class="col-sm-3 control-label">Youtube URL:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="vm.social_profiles['youtube_link']" name="youtube_link" placeholder=" e.g. youtube.com/channel-name"
                                        tabindex="22" ng-pattern="domain_regex">
                                    <p ng-show="newClinicForm.youtube_link.$invalid  && ( vm.formSubmitted || newClinicForm.youtube_link.$touched)" class="help-block">Please enter valid URL.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-12">
                            <div class="form-group" ng-class="{ 'has-error': newClinicForm.instagram_link.$invalid && ( vm.formSubmitted || newClinicForm.instagram_link.$touched) }">
                                <label for="inputEmail3" class="col-sm-4 control-label">Instagram URL:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="vm.social_profiles['instagram_link']" name="instagram_link" placeholder=" e.g. instagram.com/username"
                                        tabindex="23" ng-pattern="domain_regex">
                                    <p ng-show="newClinicForm.instagram_link.$invalid  && ( vm.formSubmitted || newClinicForm.instagram_link.$touched)" class="help-block">Please enter valid URL.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-12">
                            <div class="form-group" ng-class="{ 'has-error': newClinicForm.linkedin.$invalid && ( vm.formSubmitted || newClinicForm.linkedin.$touched) }">
                                <label for="inputEmail3" class="col-sm-3 control-label">Linkedin:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="vm.social_profiles['linkedin_link']" name="linkedin_links" placeholder=" e.g. linkedin.com/page"
                                        tabindex="24" ng-pattern="domain_regex">
                                    <p ng-show="newClinicForm.linkedin.$invalid  && ( vm.formSubmitted || newClinicForm.linkedin.$touched)" class="help-block">Please enter valid URL.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-12">
                            <div class="form-group" ng-class="{ 'has-error': newClinicForm.social_links.$invalid && ( vm.formSubmitted || newClinicForm.social_links.$touched) }">
                                <label for="inputEmail3" class="col-sm-4 control-label">Social Links:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" ng-model="vm.social_profiles['social_links']" name="social_links" placeholder=" e.g. website.com/page"
                                        tabindex="25" ng-pattern="domain_regex">
                                    <p ng-show="newClinicForm.social_links.$invalid  && ( vm.formSubmitted || newClinicForm.social_links.$touched)" class="help-block">Please enter valid URL.</p>
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">

                            <a ui-sref="app.userlist" class="btn btn-primary">
                                <i class="fa fa-angle-left"></i> Back</a>
                            <button type="submit" class="btn btn-default pull-right" ng-disabled="disabled_add">Add New</button>
                        </div>
                </form>
                </div>
            </div>
        </div>
</section>