<section class="content-header">

    <h1 class="box-title">
        <span style="margin-right:6px;">
            <i class="fa fa-comment"></i>
        </span> SMS Broadcast </h1>
    <div class="btn-right-header">
        <div class="open-list">
            <a class="btn btn-primary" ng-click="ShowHide()">
                <i class="fa fa-plus"></i> Add New</a>
            <div class="open-list-box" ng-show="IsVisible">
                <ul>
                    <li>
                        <a href="" ng-click="add_new()">Email Broadcast</a>
                    </li>
                    <li>
                        <a ui-sref=" app.newsmsbroadcast">SMS Broadcast</a>
                    </li>
                    <li>
                        <a href="" ng-click="action_modal()" data-toggle="modal" data-target="#add-note">Email List</a>
                    </li>
                    <li>
                        <a href="" ng-click="action_funnel()">Action Funnel</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <ol class="breadcrumb">
        <li>
            <a ui-sref="app.landing" href="#/">
                <i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Contacts</li>
    </ol>
</section>
<section class="content">
    <article class="section">
        <div class="row">
            <div class="col-sm-12 col-md-12">

                <div class="box box-primary">
                    <div class="box-body">
                        <div ng-if="vm.alerts" ng-show="showMessage" class="alert alert-{{alert.type}} fadein fadeout" ng-repeat="alert in vm.alerts">
                            <h4>{{alert.title}}</h4>
                            <p>{{alert.msg}}</p>
                        </div>

                        <div class="table-wrapper responsive">

                            <table datatable="" id="contact_table" width="100%" class="table table-striped table-bordered" ng-if="vm.displayTable" dt-instance="vm.dtInstanceCallback"
                                dt-options="vm.dtOptions" dt-columns="vm.dtColumns"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>

    </article>
</section>