<div class="login-box">
  <div class="login-logo">
    <a ui-sref="login">
      <img src="img/logo.png">
    </a>
  </div>
  <div class="login-box-body">
    <div class="row-">
      <div class="col-xs-12">
        <div class="text-center">
          <h3>Invalid Link</h3>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-xs-12">
        <i class="fa fa-unlink" style="font-size: 100px;"></i>
        <h3>Page Not Found</h3>
      </div>
    </div>
  </div>
</div>